<div class="card bg-light">
    <div class="card-header">{{titulo}}: {{factura.descripcion}}</div>
    <div class="card-body">
        <h4 class="card-title">
            <a [routerLink]="['/clientes']" class="btn btn-light btn-xs">volver</a>
        </h4>
        <form #facturaForm="ngForm">
            <div class="from-group row" *ngIf="factura.cliente">
                <label for="cliente" class="col-sm-2 col-form-label">Cliente</label>
                <div class="col-sm-6">
                    <input value="{{factura.cliente.nombre}} {{factura.cliente.apellido}}" type="text" name="cliente"
                        class="form-control" disabled />
                </div>
            </div>
            <div class="from-group row">
                <label for="descripcion" class="col-sm-2 col-form-label">Descripción</label>
                <div class="col-sm-6">
                    <input [(ngModel)]="factura.descripcion" type="text" name="descripcion" class="form-control" required #descripcion="ngModel">
                    <div class="alert alert-danger" *ngIf="descripcion.invalid && descripcion.touched">La descripción es requerida</div>
                </div>
            </div>

            <div class="from-group row">
                <label for="observacion" class="col-sm-2 col-form-label">Observación</label>
                <div class="col-sm-6">
                    <textarea [(ngModel)]="factura.observacion" name="observacion" class="form-control"></textarea>
                </div>
            </div>

            <div class="from-group row">
                <div class="col-sm-6">
                    <mat-form-field>
                        <input type="text" placeholder="Añadir producto" aria-label="Productos" matInput
                            [formControl]="autoCompleteControl" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="mostrarNombre"
                            (optionSelected)="productoSeleccionado($event)">
                            <mat-option *ngFor="let producto of productosFiltrados | async" [value]="producto">
                                {{producto.nombre}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
            <div class="alert alert-info my-4" *ngIf="factura.itemsFactura.length == 0"> Debe haber almenos un producto</div>
            <table class="table table-striped table-hover table-sm" *ngIf="factura.itemsFactura.length > 0">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of factura.itemsFactura">
                        <td>{{item.producto.nombre}}</td>
                        <td>{{item.producto.precio}}</td>
                        <td><input type="number" name="cantidad" style="width: 8em;" min="0" max="99" value="{{item.cantidad}}" class="form-control col-sm-4" (change)="actualizarCantidad(item, $event)"></td>
                        <td>{{item.calcularImporte()}}</td>
                        <td><button class="btn btn-danger btn-sm" type="button" (click)="eliminarItemFactura(item)">X</button></td>
                    </tr>

                </tbody>

            </table>
            <h5 class="float-right">Gran Total: <span class="badge badge-secondary">{{factura.calcularGranTotal()}}</span> </h5>
            <br>
            <div class="from-group row">

                <div class="col-sm-2">
                    <button type="submit" (click)="crearFactura()" class="btn btn-secondary" 
                    [disabled]="facturaForm.form.invalid || factura.itemsFactura.length == 0">Crear Factura</button>
                </div>
                <div class="col-sm-2">
                    <button type="button" [routerLink]="['/clientes']" class="btn btn-secondary">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>